* {
    overflow: hidden;
}

#titlepage {
    margin-top: 30px;
}

#projectdescription {
    margin: 0 50px 0 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 650px;
    width: 100%;
}

.drag-area {
    height: 400px;
    border: 3px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
}

.drag-area .header {
    font-size: 20px;
    font-weight: 500;
}

.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    background: green;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid white;
    background: green;
}

.drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
